html {
  height: auto;
  overflow-x: hidden;
}
.text-underline-effect {
  position: relative;
  display: inline-block;
}
.text-underline-effect::before {
  content: "";
  position: absolute;
  top: 100%; left: 50%;
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  mix-blend-mode: difference;
  transform: translate3D(-50%, -50%, 0);
}
.modal-panel {
  overflow-y: scroll;
}
/* Firefox */
.modal * {
  scrollbar-width: auto;
  scrollbar-color: #a05454 #ffffff;
}

/* Chrome, Edge, and Safari */
.modal *::-webkit-scrollbar {
  width: 4px;
}

.modal *::-webkit-scrollbar-track {
  background: #ffffff;
}

.modal *::-webkit-scrollbar-thumb {
  background-color: #a05454;
  border-radius: 0px;
  border: 0px none #ffffff;
}
.nav-wrapper.is-burger {
  display: flex !important;
}
.nav-wrapper.is-burger .nav-scroll {
  background-color: rgba(255, 251, 239, .1) !important;
}
.nav-wrapper.is-burger .nav-link.is-active {
  color: #92361b !important;
}
.nav-wrapper.is-burger .nav-link {
  color: black !important;
}
.nav-scroll-wrapper {
  pointer-events: none;
}
/*.text-gradient {
  background: linear-gradient(#803119, #e7b782 50%, #f5eed3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/
.helper.bg-light img {
  transition: all 0.35s ease-in;
}
.helper.bg-light:hover img {
  transform: translate(-50%, -50%) scale(1.05);
  transition: all 0.35s ease-out;
}
.helper.bg-green {
  transition: all 0.35s ease-in;
}
.helper.bg-green img {
  transition: all 0.35s ease-in;
}
.helper.bg-green .text-block-2 {
  transition: all 0.35s ease-in;
}
.helper.bg-green:hover {
  background: white;
  transition: all 0.35s ease-out;
}
.helper.bg-green:hover img {
  mix-blend-mode: difference;
  transform: translate3D(2.5px, -2.5px, 0);
  transition: all 0.35s ease-out;
}
.helper.bg-green:hover .text-block-2 {
  color: black;
  transform: translate3D(2.5px, 0, 0);
  transition: all 0.35s ease-out;
}
a.modal-button.story img {
  transition: all 0.35s ease-in;
}
a.modal-button.story:hover img {
  transform: translate3d(-50%, -50%, 0) scale3d(1.05, 1.05, 1.05);
  transition: all 0.35s ease-out;
}

.map-label-theme-light .date-label, .map-label-theme-light .case-count-wrap {
  color: var(--red-accent);
}
.cursor-close .cursor-close-circle {
  border: 1px solid rgba(255, 255, 255, .1);
}
.cursor-close .cursor-close-cross {
  background-color: var(--eggshell);
}
.map-label-theme-light .cursor-close .cursor-close-circle {
  border: 1px solid rgba(0, 0, 0, .1);
}
.map-label-theme-light .cursor-close .cursor-close-cross {
  background-color: var(--red-accent);
}
.button-close {
  border: 1px solid rgba(255, 255, 255, .1);
}
.button-close .icon-cross-line {
  background-color: var(--eggshell);
}
.button-close .button-close-text {
  color: var(--eggshell);
}
.map-label-theme-light .button-close {
  border: 1px solid var(--red-accent);
}
.map-label-theme-light .button-close .icon-cross-line {
  background-color: var(--red-accent);
}
.map-label-theme-light .button-close .button-close-text {
  color: var(--red-accent);
}
.nav-scroll {
  transition: width 0.1s linear;
}
.section_mb-scrollytell {
  overflow: hidden;
}